
.homeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    gap: 30px;
    top: 3%;
    left: 15%;
}

@media(max-width: 425px){
    .homeContainer{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 3%;
    }
    .img{
        display: none;
    }
}