.App{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    overflow-x: auto;
}
.centralize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 425px){
    .App{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}